
.settings{
    display: flex;
    background-color: var(--topbar-background-color);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 55px;
    color: var(--point-color);
}

.settingsWrapper{
    flex: 9;
    padding: 20px;
}

.settingsTitle{
    font-family: var(--key-font);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
}

.settingsDeleteTitle{
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.settingsDeleteTitle:hover{
    color: #6a1c0a;
    font-weight: bold;
}

.settingsForm{
    font-family: var(--key-font);
    display: flex;
    flex-direction: column;
}

.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0; 
}

.settingsPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label{
font-size: 20px;
margin-top: 20px;
}

.settingsForm > input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    padding-left: 2px;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    background-color: var(--topbar-background-color);
    border-bottom: var(--point-color) solid 1px;
   
}

.settingsSubmit{
    width: 150px;
    align-self: center; /*only one item exists*/
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;  background-color: #f74c25;
    color: #f7f6f2;
    font-weight: bold;
}

.settingsSubmit:hover{
    background-color:  #f7f6f2;
    color:#f74c25; 
    cursor: pointer;

}