.settings {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font: var(--main-font);
}

.settings_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings_title_div {
    margin: auto;
    padding: auto;
    text-align: center;
    margin-bottom: 40px;
}

.settings_title {
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.settings_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings_pp_topImg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}

.settings_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.settings_label {
    display: flex;
    text-align: right;
    color: var(--darkgrey-color);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.settings_label_status{
    color: black;
}

.settings_input_table{
    margin: 0;
    padding: 0;
}

.settings_input{
    width: 300px;
    padding: 10px;
}

td{
    padding: 10px;
}

.settings_label_status{
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.settings_btn{
padding: 10px;
width: 130px;
margin: 10px;
font-size: 18px;
font-weight: bold;
}

#settings_btn_update{
    background-color: var(--point-color);
    color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#settings_btn_update:hover{
    background-color: #4c402f;
    color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#settings_btn_cancel{
    color: var(--point-color);
    background-color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#settings_btn_cancel:hover{
    background-color: rgb(245, 237, 229);
    color: var(--point-color);
    border: solid 1px var(--point-color);
    cursor: pointer;
}

.setting_msg{
    display: flex;
    margin: 0;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}