.additem {
    padding-top: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: var(--key-font);
}
.additem_form{
    display: flex;
}

.additem_img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

.additem_img:hover{
    box-shadow: 0 1px 6px black;
}
.additem_img_div{
    flex: 1;
    padding-right: 10px;
}

.additem_input_div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

label{
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}

input{
  
    width: 300px;
    padding: 10px;
    font-size: 15px;
}

select{
    padding: 10px;
    font-size: 15px;
}

.additem_btn_div{
    padding-top: 10px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.additem_btn{
    padding: 10px;
    width: 130px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    }


#additem_btn_submit{
    background-color: var(--point-color);
    color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#additem_btn_submit:hover{
    background-color: #4c402f;
    color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#additem_btn_cancel{
    color: var(--point-color);
    background-color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#additem_btn_cancel:hover{
    background-color: rgb(245, 237, 229);
    color: var(--point-color);
    border: solid 1px var(--point-color);
    cursor: pointer;
}