
.single{
    display: flex;
}

.singlePostWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    margin-bottom: 20px;
    width: 70vw;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.singlePostTitle{
    
    padding-bottom: 30px;
    font-family: var(--key-font);
    text-align: center;
    margin: 10px;
    font-size: 28px;
}

.singlePostTitleInput{
    
    font-family: var(--main-font);
    text-align: center;
    margin: 10px;
    font-size: 28px;
    border: none;
    color: gray;
    border-bottom: solid 1px rgb(57, 57, 57);
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    cursor: pointer;
}

#singlePostIcon2{
    margin-left: 10px;
    margin-right: 30px;
}

.singlePostInfo{
    
    margin-right: 35px;
    font-family: var(--main-font);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.singlePostDesc {
    
    font-family: var(--main-font);
    color: gray;
    font-size: 18px;
    line-height: 25px;
}

.singlePost::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostDescInput{
    border: none;
    color: gray;
    font-size: 18px;
    line-height: 25px;
    height: 400px;
}

.singlePostDescInput:focus{
    outline: none;
}

.singlePostButton{
    width: 100px;
    border: none;
    color: white;
    background-color: teal;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}