.login {
    font-family: var(--key-font);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #f74c25;
    color: #f7f6f2;
    font-weight: bold;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(255, 195, 174);
}

.loginButton:hover{
    background-color:  #f7f6f2;
    color:#f74c25;
    font-weight: bold;
}

.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #f74c25;
    color: #f7f6f2;
    font-weight: bold;
}

.loginRegisterButton:hover {
    background-color: #f7f6f2;
    color: #f74c25;
    cursor: pointer;

}