/*Color set*/
:root {
    --point-color : #705E45;
}

.home{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}