.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    width: 80%;
    border-radius: 3px;
    border: 1px solid rgba(218, 218, 218, 0.426);
    box-shadow:#cecece 2px 2px 2px;
    margin-bottom: 10px;
}

.user:hover{
    background-color: rgba(230, 230, 230, 0.248);
}
.user_info_container {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    width: 40%;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: left;
    justify-items: left;
}

.user_name, .user_email {
    padding-bottom: 5px;
}

.user_name{
    font-weight: bold;
    color: #423728;
}

.user_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
}

.manage_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.manage_icon_edit, .manage_icon_delete{
    color: var(--point-color);
}

.manage_icon_edit:hover, .manage_icon_delete:hover{
    color: #423728;
}

.manage_icon_delete{
    padding-left: 10px;
}
