.editUser {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font: var(--main-font);
}

.editUser_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.editUser_title_div {
    margin: auto;
    padding: auto;
    text-align: center;
    margin-bottom: 30px;
}

.editUser_title {
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.editUser_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.editUser_pp_topImg {
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}

.editUser_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.editUser_label {
    display: flex;
    text-align: right;
    color: var(--darkgrey-color);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
}

.editUser_label_status{
    color: black;
}

.editUser_input_table{
    margin: 0;
    padding: 0;
}

.editUser_input{
    width: 300px;
    padding: 10px;
}

td{
    padding: 8px;
}


.editUser_label_status{
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.editUser_input_status{
    width: auto;
}

.editUser_btn{
padding: 10px;
width: 130px;
margin: 10px;
font-size: 18px;
font-weight: bold;
}

#editUser_btn_update{
    background-color: var(--point-color);
    color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#editUser_btn_update:hover{
    background-color: #4c402f;
    color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#editUser_btn_cancel{
    color: var(--point-color);
    background-color: white;
    border: solid 1px var(--point-color);
    cursor: pointer;
}

#editUser_btn_cancel:hover{
    background-color: rgb(245, 237, 229);
    color: var(--point-color);
    border: solid 1px var(--point-color);
    cursor: pointer;
}

.editUser_msg{
    display: flex;
    margin: 0;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}

.editUser_msg_gohome{
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    color: var(--point-color);
    padding-left: 5px;
}